.button {
  background-color: #358338;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  width: 150px;
}

.button:hover {
  background-color: #4caf50;
}