@font-face {
  font-family: 'rickAndMorty-1';
  src: url('../src/assets/font/get_schwifty.ttf') format('truetype');
}

@font-face {
  font-family: 'rickAndMorty-2';
  src: url('../src/assets/font/WubbaLubbaDubDub.ttf') format('truetype');
}

body {
  font-family: rickAndMorty-2;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  font-size: 23px;
}

* {
  margin: 0;
  padding: 0;
}